<footer>
  <ul role="list">
    <li>
      <a href="https://www.facebook.com/DeliriumAndRevelryLeeds">
        <svg viewBox="0 0 30 30" width="20" height="20" fill="white">
          <use href="/assets/sprite.svg#facebook"></use>
        </svg>
        Psilo Bar
      </a>
    </li>
    <li>
      <a href="https://instagram.com/dnrleeds">
        <svg viewBox="0 0 30 30" width="20" height="20" fill="white">
          <use href="/assets/sprite.svg#instagram"></use>
        </svg>
        Psilo Bar
      </a>
    </li>
    <li>
      <address>
        <a href="https://goo.gl/maps/ABeVSR8MXifsi2cg6">
          <svg viewBox="0 0 20 20" width="20" height="20" fill="white">
            <use href="/assets/sprite.svg#pin"></use>
          </svg>
          52 New Briggate, Leeds LS1 6NU
        </a>
      </address>
    </li>
  </ul>
</footer>
