<footer>
	<ul role="list">
		<li>
			<a href="https://www.facebook.com/PsiloBarLeeds">
				<svg viewBox="0 0 30 30" width="20" height="20" fill="white">
					<use href="/assets/sprite.svg#facebook"></use>
				</svg>
				Psilo Bar
			</a>
		</li>
		<li>
			<a href="https://www.instagram.com/psilobar/">
				<svg viewBox="0 0 30 30" width="20" height="20" fill="white">
					<use href="/assets/sprite.svg#instagram"></use>
				</svg>
				Psilo Bar
			</a>
		</li>
		<li>
			<address>
				<a href="https://goo.gl/maps/ABeVSR8MXifsi2cg6">
					<svg viewBox="0 0 20 20" width="20" height="20" fill="white">
						<use href="/assets/sprite.svg#pin"></use>
					</svg>
					52 New Briggate, Leeds LS1 6NU
				</a>
			</address>
		</li>
	</ul>
	<a
		href="https://restaurantguru.com/Hardys-Cocktail-and-Wine-Lounge-Leeds"
		target="_blank"
		rel="noopener"
	>
		<img
			src="/assets/img/award.png"
			alt=""
			width="125"
			height="125"
			alt="Psilo Bar recommended award 2023 from Restaurant Guru"
	/></a>
</footer>
