<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Delirium & Revelry</title>
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
  <link rel="icon" type="image/png" href="/assets/favicon.png" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Limelight&display=block"
  />
  <link rel="stylesheet" href="/assets/css/main.css" />
  <meta name="theme-color" content="#000000" />
  <meta
    name="description"
    content="An ongoing study of libation and guilty pleasures…
  Right in the heart of Leeds, we’ll be serving cocktails and good vibes til late."
  />
</head>
