<header class="site-header font-title">
  <a href="/" aria-current="{{ url === '/' }}">
    <img src="/assets/img/psilo-logo.jpg" alt="Home" width="100" height="100" />
  </a>
  <nav>
    <ul role="list">
      <li>
        <a href="/drinks" aria-current="{{ url === '/drinks'}}">Menu</a>
      </li>
      <li>
        <a href="/brunch" aria-current="{{ url === '/brunch'}}">Brunch</a>
      </li>
      <li>
        <a href="/masterclass" aria-current="{{ url === '/masterclass'}}">
          Masterclass
        </a>
      </li>
      <li>
        <a href="/bookings" aria-current="{{ url === '/bookings'}}">Events</a>
      </li>
      <li>
        <a href="/karaoke" aria-current="{{ url === '/karaoke'}}">Karaoke</a>
      </li>
    </ul>
  </nav>
</header>
