<header class="site-header font-title">
  <a href="/">
    <img
      src="/assets/img/logo-circle-full-white.png"
      alt="Home"
      width="80"
      height="80"
    />
  </a>
  <nav>
    <ul role="list">
      <li>
        <a href="/drinks" aria-current="{{ url === '/drinks'}}">Menu</a>
      </li>
      <li>
        <a href="/brunch" aria-current="{{ url === '/brunch'}}">Brunch</a>
      </li>
      <li>
        <a href="/masterclass" aria-current="{{ url === '/masterclass'}}">
          Masterclass
        </a>
      </li>
      <li>
        <a href="/bookings" aria-current="{{ url === '/bookings'}}">Events</a>
      </li>
    </ul>
  </nav>
</header>
