html {
  --s: clamp(1rem, 1rem + 1vw, 1.5rem);
  --s1: calc(0.25 * var(--s));
  --s2: calc(0.5 * var(--s));
  --s3: calc(0.75 * var(--s));
  --s4: calc(1 * var(--s));
  --s5: calc(2 * var(--s));
  --s6: calc(3 * var(--s));
  --s7: calc(4 * var(--s));
  --s8: calc(6 * var(--s));
  --gutter: var(--s5);
  --font-title: "Limelight", system-ui, sans-serif;
  --anaglyph: 2px 0 0 fuchsia, -2px 0 0 aqua;
  color-scheme: dark;
  background-color: black;
  color: white;
}

body {
  display: grid;
  min-block-size: 100vh;
  grid-template-rows: auto 1fr auto;
  /* Prevent horizontal overflow */
  grid-template-columns: minmax(0, 1fr);
  font-family: system-ui, sans-serif;
  font-size: var(--s4);
}

:is(h1, h2, h3, .font-title) {
  font-family: var(--font-title);
  line-height: 1.1;
}

h1,
h2,
h3 {
  text-shadow: var(--anaglyph);
}
