main {
  font-size: var(--s4);
  max-inline-size: 52rem;
  margin-inline: auto;
  padding: var(--s3);
}

section > header {
  display: grid;
  gap: 1rem;
  max-inline-size: 30rem;
  margin-inline: auto;
  font-size: 1.125em;
}

small {
  font-size: 1rem;
  line-height: 1;
}

.Callout {
  border-block: 1px solid;
  padding-block: 1rem;
  font-style: italic;
}

.MenuList dt {
  margin-top: 2rem;
  font-weight: bold;
  font-family: var(--font-title);
}

.MenuList dt:first-child {
  margin-top: 0;
}

.no-abv {
  color: hsl(120, 90%, 80%);
}