.admin-layout {
  display: flex;
}

.editor {
  max-inline-size: 25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: yellow;
  color: black;
  color-scheme: light;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.edit-field {
  display: grid;
  gap: 0.5rem;
}

.edit-field label {
  text-transform: capitalize;
  font-weight: bold;
}

.edit-buttons {
  margin-block-start: auto;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.preview {
  display: flex;
  inline-size: 100%;
}

.preview iframe {
  border: 0;
  inline-size: 100%;
}
