.home-layout {
  display: grid;
  place-content: center;
}

.home-bg :is(source, img) {
  position: absolute;
  inset: 0;
  block-size: 100%;
  z-index: -100;
  filter: brightness(0.25) blur(4px);
  object-fit: cover;
}

.home-layout header {
  max-inline-size: 42rem;
  padding-inline: var(--s4);
}

.home-layout header hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  margin-block: var(--s2);
}

.subheading {
  font-size: var(--s4);
  text-transform: uppercase;
  text-align: center;
}
