.site-header {
	padding: var(--gutter);
	font-size: var(--s3);
	font-family: var(--font-title);

	@media (width >= 40em) {
		justify-content: space-between;
	}

	a[href="/"] {
		display: flex;
		justify-content: center;

		&:hover {
			filter: drop-shadow(1px 0 0 fuchsia) drop-shadow(-1px 0 0 aqua);
		}
	}

	ul {
		margin-top: var(--s3);
		display: flex;
		gap: var(--s2);
		overflow-x: auto;

		[aria-current="true"] {
			text-decoration-line: underline;
			text-decoration-color: aqua;
		}

		@media (width >= 40em) {
			justify-content: center;
			gap: var(--s3);
			overflow: initial;
		}
	}
}
