.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--s4);
  padding: var(--gutter);
  text-align: center;
  font-size: var(--s3);
}

.site-header ul {
  display: flex;
  flex-direction: row;
  gap: var(--s2);
}

@media (min-width: 48em) {
  .site-header {
    /* flex-direction: row; */
    justify-content: space-between;
  }
  .site-header ul {
    display: flex;
    flex-direction: row;
    gap: var(--s3);
  }
}

nav [aria-current="true"] {
  text-decoration-line: underline;
  text-decoration-color: aqua;
}
