.site-header {
  padding: var(--gutter);
  font-size: var(--s3);
}

.site-header a[href="/"] {
  display: flex;
  justify-content: center;
}

.site-header a[href="/"]:hover {
  filter: drop-shadow(1px 0 0 fuchsia) drop-shadow(-1px 0 0 aqua);
}

.site-header ul {
  margin-top: var(--s4);
  display: flex;
  flex-direction: row;
  gap: var(--s2);
  overflow-x: auto;
}

@media (min-width: 48em) {
  .site-header {
    justify-content: space-between;
  }
  .site-header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--s3);
    overflow: initial;
  }
}

nav [aria-current="true"] {
  text-decoration-line: underline;
  text-decoration-color: aqua;
}
