* {
  margin: 0;
  box-sizing: border-box;
}

img {
  max-inline-size: 100%;
  height: auto;
}

address {
  font-style: normal;
}

[role="list"] {
  list-style: none;
  padding-inline-start: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

svg {
  vertical-align: middle;
}

picture > :is(source, img) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
